[submodule "third_party/sf2cute"]
	path = third_party/sf2cute
	url = https://github.com/gocha/sf2cute
	shallow = true
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = https://github.com/PortAudio/portaudio
	shallow = true
[submodule "third_party/libsndfile"]
	path = third_party/libsndfile
	url = https://github.com/libsndfile/libsndfile
	shallow = true
[submodule "third_party/mio"]
	path = third_party/mio
	url = https://github.com/vimpunk/mio
	shallow = true
