[submodule "third_party/sf2cute"]
	path = third_party/sf2cute
	url = https://github.com/gocha/sf2cute
	shallow = true
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = https://github.com/PortAudio/portaudio
	shallow = true
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://gitlab.xiph.org/xiph/ogg
	shallow = true
[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis
	shallow = true
[submodule "third_party/flac"]
	path = third_party/flac
	url = https://github.com/xiph/flac
	shallow = true
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://gitlab.xiph.org/xiph/opus
	shallow = true
[submodule "third_party/libsndfile"]
	path = third_party/libsndfile
	url = https://github.com/libsndfile/libsndfile
	shallow = true
